extends layout

block content
	script(src='/javascripts/jquery-2.1.1.js')
	script(src='/javascripts/motor-controller.js')
	h1= title	
	h2
		|Speed control
	p
		div(id="manualController")
			div(id="manualControllerPad",  onmousedown="setupControl()", onmouseup="unlinkControl()", class="manualControllerPad")
			div(id="speedbar")
				div(id="speedindicator")
			input(id="speed",  disabled)
	h2
		|Position control [cm]
		div(id="positionIdicator")
			div(class="positionblock")
				div( class="positionline")
					input(id='antennaSwitch', type='button', value='switch to small antenna', onclick='switchAntenna();')
				div( class="positionline")
					div(class="label")
						|New height in cm:
					input(class='inputbox', placeholder='0', id='newPosition', autofocus='autofocus' ,onkeyup = "{if(event.keyCode==13)setPosition(this.id)}" )
				div(class="positionline")
					input(id="emergencyStop", type='button', value="EMERGENCY STOP" ,onclick = "emergencyStop();" )
				div( class="positionline")
					input(id="emergencyRelease", type='button', value="RELEASE EMERGENCY" ,onclick = "emergencyRelease();" )
				div( class="positionline")
					div(class="label")
						|Measured height:
					input(class='inputbox', placeholder='0', id='currentPosition' ,onkeyup = "{if(event.keyCode==13)setCurrentPosition(this.id)}" )
			div(id="fixation", class="antennafixation")
				input(id='currentPositionText' )
			div(id="mastbar")
			div(id="tray", class="antennatray")
				div(id="antenna", class="bigAntenna")
					div(id="pole1", class="bigAntennadiv")
						div(id="pole2", class="bigAntennadiv")
							div(id="pole3", class="bigAntennadiv")
								div(id="pole4", class="bigAntennadiv")