extends layout

block content
	script(src='/javascripts/jquery-2.1.1.js')
	script(src='/javascripts/motor-controller.js')
	h1= title	
	div(id='mkpanel')
		div(id="manualController")
			div(id="manualControllerPad",  class='controller', onmousedown="enableSpeedController()", onmouseup="disableSpeedController()")
				div(class='labelTop')
					a:|UP (MAX SPEED)
				div(class='labelCenter')
					a:|press the left mouse button and move up and down to change the speed and the direction.
				div(class='labelBottom')
					a:|DOWN (MAX SPEED)				
			div(id="speedbar")
				div(id="speedindicator")
			div(class='speedIndicator')
				input(id="speed", class='speedIndicator',onkeyup = "{if(event.keyCode==13)setSpeed(this.value/2068)}")



			
		div(id="positionIdicator")
			div(class="positionblock")
				div( class="positionline")
					input(id='antennaSwitch', type='button', value='Click to use small antenna', onclick='switchAntenna();')
				div( class="positionline")
					a:|New height (cm):
					input(class='inputbox', placeholder='0', id='newPosition', autofocus='autofocus' ,onkeyup = "keyboardAction(event, this.id)" )
				div(class="positionline")
					input(id="emergencyStop", type='button', value="STOP" ,onclick = "emergencyStop();" )
				div( class="positionline")
					input(id="emergencyRelease", type='button', value="RECOVER FROM EMERGENCY" ,onclick = "emergencyRelease();" )
				div( class="positionline")
					a:|Measured height (cm):
					input(class='inputbox', placeholder='0', id='currentPosition',  onclick="alert('Warning this is the calibration setting!')" ,onkeyup = "{if(event.keyCode==13)setMeasuredPosition(this.id)}" )
				div(class="positionline")
					a(id="range"):|valid range ??cm - ??cm
			div(id="fixation", class="antennafixation")
				input(id='currentPositionText' )
			div(id="mastbar")
			div(id="tray", class="antennatray")
				div(id="antenna", class="")
					div(id="pole1", class="")
						div(id="pole2", class="")
							div(id="pole3", class="")
								div(id="pole4", class="")
