body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  padding: 0 0px 0 0px;
  margin-left: 2px;
  
}
label { display: inline; width: 250px; }

div.status{
	width:12px;
	padding:1px;
	background-color:gray;
	border:1px solid black;
	height:12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
div.statusok{
	width:12px;
	padding:1px;
	background-color:green;
	border:1px solid black;
	height:12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
div.statuserr{
	width:12px;
	padding:1px;
	background-color:red;
	border:1px solid black;
	height:12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


#manualController
{
	width:155px;
}

#manualControllerPad{
	width:128px;
	padding:1px;
	background-color:white;
	border:1px solid black;
	height:200px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-image:url('pictures/speed.png');
	float:left;
}

#speedbar
{
	width:14px;
	padding:1px;
	background-color:gray;
	border:1px solid black;
	height:200px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float:right;
}
#speedindicator
{
	width:12px;
	padding:0px;
	background-color:orange;
	margin:0px;
	margin-top:90px;
	border:1px solid black;
	height:17px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	float:center;
}

#speed
{
	width:155px;
	margin-top: 2px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align:center;
}

#progressbar
{
	width:100px;
	padding:1px;
	background-color:white;
	border:1px solid black;
	height:12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}
#indicator
{
	width:50px;
	background-color:blue;
	height:12px;
	margin:0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}