body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #000000;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	
}


input {
    padding: 0 0px 0 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;   
}

div.label {
    display: inline;
    margin-left: 2px;   
    height: 100%;    
}

div.status{
	width:12px;
	background-color:gray;
	border:1px solid black;
	height:12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.statusok{
	width:12px;
	padding:1px;
	background-color:green;
	border:1px solid black;
	height:12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
div.statuserr{
	width:12px;
	padding:1px;
	background-color:red;
	border:1px solid black;
	height:12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


#manualController
{
	width:178px;
	float: left;
	height: 350px;
	//border:1px solid black;
}

div.controller{
	width:150px;
	padding:1px;
	background-color:white;
	border:1px solid black;
	height:300px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: orange;
	//background-image:url('pictures/Speed.png');
	float:left;
	cursor: pointer;
	position: absolute;
}

#speedbar
{
	width:14px;
	padding:1px;
	background-color:whitesmoke;
	border:1px solid black;
	height:300px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float:right;
}
#speedindicator
{
	width:11px;
	padding:0px;
	background-color:cadetblue;
	margin:0px;
	margin-top:141px;
	border:1px solid black;
	height:18px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

input.speedIndicator
{
	background-color:lightblue;
	border:1px solid black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	z-index: 0;
	text-align:center;
	bottom: 2px;
	width: 98%;
}
div.speedIndicator{
	bottom: 2px;
	margin-bottom: 2px;
}

div.label{
    width:70%;	    
    font-size: 80%;
    padding:2px;
    float: left;
}
div.labelTop{
	top: 2px;
	text-align:center;
}
div.labelCenter{	
	position: absolute;	
	top:50%;
	//border:1px solid black;	
	height: 72px;
	margin-top: -36px;	
	text-align:center;

}
div.labelBottom{	
	position: absolute;	
	bottom: 2px;
	width: 100%;
	text-align: center;
}


input.inputbox
{
	width:20%;
	height: 22px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	text-align:center;
	float: right;
	
}

#progressbar
{
	width:100px;
	padding:1px;
	background-color:white;
	border:1px solid black;
	height:12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}
#indicator
{
	width:20px;
	background-color:blue;
	height:12px;
	margin:0;

}
#positionIdicator
{
    height: 316px;
    width:350px;
    background-color:beige;
    border:4px solid green;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;   
    float: right;
}

div.positionline{
    width:100%;	
    margin-top: 2px;
    margin-left: 0px;
    margin-top: 5px;
//    border:1px solid black;

    float:left;   
}
div.positionblock{
    width:210px;	
    margin-top: 10px;
    margin-left: 10px;
    height:35px;    
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;	
    float:left;   
}
div.smallAntennadiv {
	width:2px;	
	background-color:orange;
	margin:5px;	
	margin-top: 3px;
	margin-bottom: 3px;
	border:1px solid black;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;	
	float:right;	
}
div.bigAntennadiv {
	width:2px;	
	background-color:orange;
	margin:5px;	
	margin-top: 10px;
	margin-bottom: 10px;
	border:1px solid black;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;	
	float:right;	
}
div.antennatray {
	width:10px;	
	background-color:brown;
	margin:-19px;
	margin-top: 100px;
	height:64px;
	border:1px solid black;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;	
	float:right;
}
div.smallAntenna {
	width:2px;	
	background-color:orange;
	margin:14px;
	margin-top: 14px;
	height:35px;
	border:1px solid black;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;	
	float:right;	
	
}

div.antennafixation{
    width:40px;	
    background-color:orange;
    margin:1px;
    margin-top: 131px;
    margin-left: -45px;
    height:1px;
    border:1px solid black;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;	
    float:right;    
}

div.bigAntenna {
    width:2px;	
    background-color:orange;
    margin:14px;
    margin-top: -13px;
    height:87px;
    border:1px solid black;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;	
    float:right;	
}




#mastbar
{
    width:3px;
    padding:1px;
    margin-top: 7px;
    margin: 10px;
    background-color:gray;
    border:1px solid black;
    height:243px;	
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float:right;
}

#currentPositionText
{
	width:60px;
	padding:0px;
	
	margin:55px;
	margin-top: -8px;
	border:1px solid black;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float:right;	
}
#antennaSwitch
{
	width:100%;	
	height: 30px;
	border:1px solid black;
	background-color:azure;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
}

#emergencyRelease
{
	width:100%;		
	height: 45px;
	border:1px solid black;
	background-color: buttonface;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	float: left;
}

#emergencyStop
{
	width:100%;	
	height: 100px;
	border:1px solid black;
	background-color: orangered;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}